node_modules
.env
gendocs.js
Osculate_devdoc.json
Osculate_userdoc.json
Internal_README.md
alph.py
vigenere_table.html

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
